<div
  style="
    text-align: center;
    border-bottom: 2px solid #15803d;
    padding-bottom: 10px;
  "
>
  <h2 style="margin: 0; color: #14532d"><%= dealer.firmName %></h2>
  <small>
    Shop No: <%= dealer.shopNo %> | GST: <%= dealer.gstNo %><br />
    <%= dealer.address %>, <%= dealer.city %>, <%= dealer.state %> - <%=
    dealer.zip %><br />
    Mob: <%= dealer.contactNumber1 %>, <%= dealer.contactNumber2 %>
  </small>
</div>
